<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessExcelFile</servlet-name>
        <servlet-class>Module.Expense.ProcessExcelFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadExcelFile</servlet-name>
        <servlet-class>Module.Expense.ReadExcelFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecuteExpenses</servlet-name>
        <servlet-class>Module.Expense.ExecuteExpenses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdHocProjectAdmin</servlet-name>
        <servlet-class>Module.ProjectManagement.CreateAdHocProjectAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTaskAdmin</servlet-name>
        <servlet-class>Module.ProjectManagement.CreateTaskAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdHocAdmin</servlet-name>
        <servlet-class>Module.ProjectManagement.DeleteAdHocAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProjectForAdminHome</servlet-name>
        <servlet-class>Module.ProjectManagement.DisplayProjectForAdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProjectForEmpHome</servlet-name>
        <servlet-class>Module.ProjectManagement.DisplayProjectForEmpHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdHocAdmin</servlet-name>
        <servlet-class>Module.ProjectManagement.UpdateAdHocAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdHocCompletionStatus</servlet-name>
        <servlet-class>Module.ProjectManagement.UpdateAdHocCompletionStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdHocRemarksEmp</servlet-name>
        <servlet-class>Module.ProjectManagement.UpdateAdHocRemarksEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdHocReviewStatus</servlet-name>
        <servlet-class>Module.ProjectManagement.UpdateAdHocReviewStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>Module.Resource.AddClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>Module.Resource.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>Module.Resource.DeleteClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>Module.Resource.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClientServlet</servlet-name>
        <servlet-class>Module.Resource.UpdateClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
        <servlet-class>Module.Resource.UpdateEmployeeInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClientServlet</servlet-name>
        <servlet-class>Module.Resource.ViewClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeServlet</servlet-name>
        <servlet-class>Module.Resource.ViewEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Module.Resource.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeOwnProfileUpdate</servlet-name>
        <servlet-class>Module.Resource.EmployeeOwnProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeProfileUpdate</servlet-name>
        <servlet-class>Module.Resource.EmployeeProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfileServlet</servlet-name>
        <servlet-class>Module.Resource.StaffProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllProjectAdmin</servlet-name>
        <servlet-class>Module.ProjectManagement.ViewAllProjectAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClientObject</servlet-name>
        <servlet-class>Module.ProjectManagement.GetClientObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareDashboardData</servlet-name>
        <servlet-class>Module.Dashboard.PrepareDashboardData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcess</servlet-name>
        <servlet-class>Module.Resource.LogoutProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectCompletionStatus</servlet-name>
        <servlet-class>Module.ProjectManagement.UpdateProjectCompletionStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectHours</servlet-name>
        <servlet-class>Module.ProjectManagement.UpdateProjectHours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProject</servlet-name>
        <servlet-class>Module.ProjectManagement.CreateNewProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetToken</servlet-name>
        <servlet-class>Module.Expense.ResetToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QBOredirect</servlet-name>
        <servlet-class>Module.Expense.QBOredirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XERORedirect</servlet-name>
        <servlet-class>Module.Expense.XERORedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffMonthlyReport</servlet-name>
        <servlet-class>Module.Dashboard.StaffMonthlyReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletedProjectMonthlyProfitability</servlet-name>
        <servlet-class>Module.Dashboard.CompletedProjectMonthlyProfitability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesGraph</servlet-name>
        <servlet-class>Module.Dashboard.SalesGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverdueProjectPerYear</servlet-name>
        <servlet-class>Module.Dashboard.OverdueProjectPerYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTokenServlet</servlet-name>
        <servlet-class>Module.Expense.EditTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientDashboard</servlet-name>
        <servlet-class>Module.Dashboard.ClientDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clearResultsServlet</servlet-name>
        <servlet-class>Module.Expense.clearResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessExcelFile</servlet-name>
        <url-pattern>/ProcessExcelFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadExcelFile</servlet-name>
        <url-pattern>/ReadExcelFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecuteExpenses</servlet-name>
        <url-pattern>/ExecuteExpenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdHocProjectAdmin</servlet-name>
        <url-pattern>/CreateAdHocProjectAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTaskAdmin</servlet-name>
        <url-pattern>/CreateTaskAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdHocAdmin</servlet-name>
        <url-pattern>/DeleteAdHocAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProjectForAdminHome</servlet-name>
        <url-pattern>/DisplayProjectForAdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProjectForEmpHome</servlet-name>
        <url-pattern>/DisplayProjectForEmpHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdHocAdmin</servlet-name>
        <url-pattern>/UpdateAdHocAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdHocCompletionStatus</servlet-name>
        <url-pattern>/UpdateAdHocCompletionStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdHocRemarksEmp</servlet-name>
        <url-pattern>/UpdateAdHocRemarksEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdHocReviewStatus</servlet-name>
        <url-pattern>/UpdateAdHocReviewStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/AddClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/DeleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClientServlet</servlet-name>
        <url-pattern>/UpdateClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeInfoServlet</servlet-name>
        <url-pattern>/UpdateEmployeeInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClientServlet</servlet-name>
        <url-pattern>/ViewClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeServlet</servlet-name>
        <url-pattern>/ViewEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeOwnProfileUpdate</servlet-name>
        <url-pattern>/EmployeeOwnProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProfileUpdate</servlet-name>
        <url-pattern>/EmployeeProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfileServlet</servlet-name>
        <url-pattern>/StaffProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllProjectAdmin</servlet-name>
        <url-pattern>/ViewAllProjectAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClientObject</servlet-name>
        <url-pattern>/GetClientObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareDashboardData</servlet-name>
        <url-pattern>/PrepareDashboardData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcess</servlet-name>
        <url-pattern>/LogoutProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectCompletionStatus</servlet-name>
        <url-pattern>/UpdateProjectCompletionStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectHours</servlet-name>
        <url-pattern>/UpdateProjectHours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProject</servlet-name>
        <url-pattern>/CreateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetToken</servlet-name>
        <url-pattern>/ResetToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QBOredirect</servlet-name>
        <url-pattern>/QBOredirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XERORedirect</servlet-name>
        <url-pattern>/XERORedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffMonthlyReport</servlet-name>
        <url-pattern>/StaffMonthlyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletedProjectMonthlyProfitability</servlet-name>
        <url-pattern>/CompletedProjectMonthlyProfitability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesGraph</servlet-name>
        <url-pattern>/SalesGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverdueProjectPerYear</servlet-name>
        <url-pattern>/OverdueProjectPerYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTokenServlet</servlet-name>
        <url-pattern>/EditTokenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDashboard</servlet-name>
        <url-pattern>/ClientDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clearResultsServlet</servlet-name>
        <url-pattern>/clearResultsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
